@import "fonts";

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-grey-100:#F1F1F1;
    --clr-grey-200:#E2E2E2;
    --clr-grey-300:#c4c4c4;

    --clr-blue-light:#549DF2;

    --clr-text-light:#fff;
}

body{
    font-family: Roboto;
}